<form action="/pokemon/edit/{{ pokemon._id }}" method="post" class="container col-md-8 card bg-warning mt-3">
   <h1 class="text-danger text-uppercase text-center mt-3">Edit product</h1>
   <div class="form-group mt-3">
      <label for="name" class="text-primary">Name</label>
      <input class="form-control" type="text" name="name" required minlength="3" maxlength="30"
         value="{{ pokemon.name }}" required>
   </div>
   <div class="form-group mt-3">
      <label for="category" class="text-primary">Category</label>
      <input class="form-control" type="text" name="category" minlength="3" maxlength="30" required>
   </div>
   <div class=" form-group mt-3">
      <label for="origin" class="text-primary">Origin</label>
      <input class="form-control" type="text" name="origin" minlength="3" maxlength="30" required>
   </div>
   <div class="form-group mt-3">
      <label for="image" class="text-primary">Image</label>
      <img src="{{ pokemon.image }}" width="200" height="250">
      <br><br>
      <input class="form-control" type="url" name="image" required value="{{ pokemon.image }}">
   </div>
      <div class="form-group mt-3">
      <label for="price" class="text-primary">Price</label>
      <input class="form-control" type="text" name="price" minlength="3" maxlength="30"
         required>
   </div>
      <div class="form-group mt-3">
      <label for="description" class="text-primary">Description</label>
      <input class="form-control" type="text" name="description" minlength="3" maxlength="30"
         unrequired>
   </div>
   <div class="form-group mt-3 mb-3 text-center">
      <input class="btn btn-primary" type="submit" value="Edit">
      <input class="btn btn-success" type="reset" value="Clear">
   </div>
</form>